img {
    width: 15%;
    height: 15%;
}
.container-profile {
    margin-top: 3%;
}
.btnSubmit2 {
    font-weight: 600;
    width: 15%;
    color: #fff;
    background-color: #282726;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5%;
    margin-bottom: 5%
}
.btnSubmit2:hover{
    background-color: #fca70c;
}
.btnSubmit2 a{
    text-decoration: none;
    color: #fff;
}


@media only screen and (max-width: 760px) {
    img {
        top: 0;
        bottom: 0;
        width: 50%;
        height: 50%;
    }
} 

